<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/png" href="assets/favicon/planet-earth.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/5b28f97081.js"></script>
</head>

<body>
    {{>header}}

    <div class="container mt-5">
        <div class="row">
            <div class="col-3">
                <div class="container">
                    <img src="assets/avatar/C360_2017-11-25-09-38-08-139.jpg" alt="" id='avatar' class="shadow-lg">
                </div>
            </div>
            <div class="col-9 bg-light p-3">
                <div class="row pl-4">
                    <h2 id="name">Hi. I'm <b>Huu Truong.</b></h2>
                    <p class='description'>I'm 20 years old. I'm studying at UNIVERSITY INFORMATION OF TECHNOLOGY HO CHI MINH CITY. I’m a careful and hard-working person. I’m eager to learn new things and willing to work in team. I easily adapt to with new working environment
                        and take initiative in work.</p>
                    <p class="description">My favorite quote: "People often say that motivation doesn't last. Well, neither does bathing -- that's why we recommend it daily." -Zig Ziglar</p>
                    <p class="description">Language Programer: JavaScript, PHP, C++</p>
                    <p class="description">Framework: NodeJS, ReactJS, Laravel</p>
                    <p class="description">Database: SQL server, MySQL, MongoDB</p>
                </div>
                <div class="row pl-3">
                    <a class="btn btn-light alinks"><i class="fab fa-facebook-square"></i></a>
                    <a class="btn btn-light alinks"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-light alinks"><i class="fab fa-github-square"></i></a>
                </div>
            </div>

        </div>
    </div>
    </div>

    {{>footer}}




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>