<!-- navbar -->
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="/">
            <!-- <img src="assets/brand/earth.png" width="40" height="40" alt=""> -->
            THE SUN
        </a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/help">Help</a>
            </li>
        </ul>
    </nav>
